leelaz
*.o
*.d
.vscode/settings.json
training/tf/leelalogs
training/tf/checkpoint
training/tf/venv
training/tf/engine1
training/tf/engine2
training/tf/requirements.txt
leelaz-model*
*.orig
leelaz_opencl_tuning
/build-autogtp-*
/build-validation-*
.vs/
.vscode/*
build/
opening/
msvc/x64/